name: Release Binaries

on:
  release:
    types: created

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            artifact: monitord-exporter-linux-amd64
          - target: aarch64-unknown-linux-gnu
            artifact: monitord-exporter-linux-aarch64

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Install cross-compilation toolchain
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo apt update
          sudo apt install -y gcc-aarch64-linux-gnu

      - name: Build release binary
        uses: actions-rs/cargo@v1
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
        with:
          command: build
          args: --release --all-features --target ${{ matrix.target }}

      - name: Rename binary
        run: cp target/${{ matrix.target }}/release/monitord-exporter ${{ matrix.artifact }}

      - name: Upload binary to release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.artifact }}
